<div class="container mt-5">
  <%= form_tag offers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Trouvez un jeu ou une proposition de partie"
    %>
  <% end %>
</div>

<div class="container mt-3">
    <div class="row">
        <div id="welcome" class="text-right-md text-center">
          <h1>Rejoignez l'une des plus grande communauté de joueurs et commencez à prêter vos jeux.</h1>
        </div>
    </div>
</div>



  <div class="container d-bloc flex-column mt-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner shadow-lg p-3 mb-5 bg-white rounded">
        <div class="carousel-item active">
          <%= image_tag "game-family.png", alt: "First slide", class:"d-block w-100 mx-auto "  %>
            <div class="carousel-caption d-none d-md-block">
              <h5>De nombreuses propositions</h5>
              <p>Retrouvez vos jeux préférés</p>
            </div>
        </div>
        <div class="carousel-item ">
          <%= image_tag "game-new.jpg", alt: "Second slide", class:"d-block w-100 mx-auto"  %>
          <div class="carousel-caption d-none d-md-block">
            <h5>Trouvez votre jeu</h5>
            <p>Des offres variées</p>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "game-friends.jpg", alt: "Third slide", class:"d-block w-100 mx-auto"  %>
          <div class="carousel-caption d-none d-md-bloc ">
            <h5>Laissez-vous surprendre</h5>
            <p>Des jeux inédits</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <br>

  <ul class="tilesWrap container d-flex justify-content-between">
    <li>
      <!-- <h2>01</h2> -->
      <h3>1. Enregistrez-vous</h3>
      <p>
        Remplissez le formulaire d'inscription pour commencer à découvrir de nouveaux jeux
        et à bâtir votre ludothèque connectée.
      </p>
      <%= link_to new_user_registration_path do %>
      <button>En savoir plus</button>
      <% end  %>
    </li>
    <li>
      <!-- <h2>02</h2> -->
      <h3>2. Parcourez la liste des jeux à louer</h3>
      <p>
        De nombreux jeux sont mis à votre disposition par nos ludos ! Il suffit de rechercher un jeu
        pour voir toutes les offres de locations en cours.

      </p>
      <%= link_to offers_path do %>
      <button>En savoir plus</button>
      <% end  %>
    </li>
    <li>
      <!-- <h2>03</h2> -->
      <h3>3. Réservez votre jeu</h3>
      <p>
        Cliquez sur l'offre qui vous intéresse. Vous ajouterez alors le jeu à votre liste de
        locations en cours et futures.
      </p>
      <%= link_to my_offers_path do %>
      <button>En savoir plus</button>
      <% end  %>
    </li>
    <li>
      <!-- <h2>04</h2> -->
      <h3>4. Devenez un ludos</h3>
      <p>
        Ajoutez des jeux à votre propre ludothèque pour la montrer à tous ! Commencez à
      créer vos propres offres et louez votre jeu à tous les curieux.
      </p>
      <%= link_to owner_games_path do %>
        <button>En savoir plus</button>
      <% end  %>
    </li>
  </ul>

  <br>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is pas si mal
  </div>
</div>

