<h1>Mes offres</h1>
<div class="game-cards container d-flex flex-column" >
  <% @offers.each do |offer| %>
  <div class="card-product d-flex mb-3">
    <div class="p-2 w-30">
          <%= cl_image_tag(offer.game.photo) %>
        </div>
    <div class="card-product-infos w-50">
      <h2><%= offer.title %></h2>
      <p>loué à : <strong><%= offer.game.user.username %></strong></p>
    </div>
    <div class="d-flex flex-column justify-content-around w-20 mr-5">
      <%= link_to "Supprimer offre", owner_offer_path(offer), method: :delete, class: "ludo-button ludo"  %>
      <%= link_to "Editer offre", edit_owner_offer_path(offer), class: "ludo-button ludo"  %>
    </div>
    <% if offer.user.nil? %>
    <div class="d-flex">
      <i class="far fa-hourglass check"></i>
    </div>
    <% else %>
    <div class="d-flex">
      <i class="far fa-check-square check"></i>
    </div>
    <% end %>
  </div>

  <% end %>

 <%= link_to "Retour à la liste de jeux", owner_games_path, class: "ludo-button ludo"  %>
