
<div class="game-cards container d-flex flex-column" >
  <h1 class="titre_jeux">Mes jeux</h1>
    <% @games.each do |game| %>
      <div class="card-product d-flex mb-3">
        <div class="p-2 w-30">
          <%= cl_image_tag(game.photo) %>
        </div>
        <div class="card-product-infos w-50">
          <h2>
            <%= game.name %>
          </h2>
          <p>
            <%= game.description %>
          </p>
        </div>
        <div class="d-flex flex-column justify-content-around w-20">
              <%= link_to " supprimer", owner_game_path(game), method: :delete, class: "fa fa-trash"  %>
              <%= link_to " modifier", edit_owner_game_path(game), class: "far fa-edit" %>
              <%= link_to "Mettre en location", new_owner_game_offer_path(game, game: game.id), class: "ludo-button ludo" %>
        </div>
      </div>
    <% end %>
  <%= link_to "Ajouter un jeu", new_owner_game_path, class: "ludo-button ludo" %>
</div>


<!-- code couleurs de la homepage : Space Cadet #1D3461, Fresh Air #B0D7FF, Gainsbord #D8D5DB -->
