<h1>Mes jeux</h1>

<%= link_to "create", new_owner_game_path, class: "btn btn-primary" %>

<% @games.each do |game| %>

<div class="card-product">
  <img src="image issue du formulaire" />  <!-- TO DO  -->
    <div class="card-product-infos">
<!--       pourvoir supprimer un jeu, à faire ici ou dans une méthode delete ?
 au moins faire afficher le bouton delete-->
      <h2><%= game.name %></h2>
      <p><%= game.description %></p>
      <%= link_to "delete", owner_game_path(game), method: :delete, class: "btn btn-primary" %>
      <%= link_to "edit", edit_owner_game_path(game), class: "btn btn-primary" %>
    </div>
</div>

<% end %>

<!-- code couleurs de la homepage : Space Cadet #1D3461, Fresh Air #B0D7FF, Gainsbord #D8D5DB -->
